{% assign collection = collections['all'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
        <li>
            <a href="{{ product.url }}">{{ product.title }}</a> - {{ product.price | money }}
            {% unless product.available == true %}
                (SOLD OUT)
            {% endunless %}
        </li>
    {% endfor %}
</ul>
