{% assign collection = collections['all'] %}
{{ collection.title }}
<ul>
{% for  product in collection.products%}
    <li>
        <a href="{{ product.url }}"></a>{{ product.title }}- {{ product.price | money }}</li>

{% endfor %}
</ul>
